.navbar-wrapper{
    display: flex;
    justify-content: space-around;
    border: 1px solid  var(--dull-blue);
    padding: 1rem;
    align-items: center;
    background-color: var(--dull-blue);
    color: white;
    
    
}

.navbar-wrapper div:nth-child(1) {
    font-size: xx-large;
    letter-spacing: 10px;
}

.navbar-wrapper div:nth-child(2) {
      flex-basis: 65%;
}

.navbar-wrapper div:nth-child(2) input {
      width: 100%;
      padding: 10px;
      height: 25px;
      border: none;
      color: white;
      background-color: var(--light-prime-blue);
      border-radius: 5px;
}

.search-bar{
    position: relative;
}

#result-list{
   display: none;
    position: absolute;
    background-color: whitesmoke;
    font-size: medium;
    color: black;
    width: 100%;
    max-height: 400px;
    overflow: scroll;
    border: 1px solid blue;
}
#result-list > .autocomplete-result{
    font-size: large;
    letter-spacing: 0;
    margin-bottom: .5rem;
    padding: .5rem;
    border-bottom: 1px solid black;
    border-radius: 10px;
}

.movie-base-title{
    color: white;
}

.movie-base-title > a{
    color: white;
    text-decoration: none;
}

.autocomplete-result:hover{
    background-color:gainsboro;
}

.theme-icon{
    font-size: x-large;
    cursor: pointer;
}